.white-btn {
  background-color: whitesmoke;
  color: rgb(60, 60, 211);
  width: 60px;
  height: 30px;
}

.red-btn {
  background-color: rgb(192, 29, 29);
  color: whitesmoke;
  width: 60px;
  height: 30px;
}

.bg-primary {
  background-color: rgb(60, 60, 211);
  width: 400px;
}
